body {
    background-color: #A64D79;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #6A1E55;
    text-align: center;
  }
  
  p {
    color: #000000;
    font-size: large;
  }
 
  
 
  